@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaBook.woff") format("woff"), /* Modern Browsers */
       url("../fonts/FuturaBook.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DalaMoa";
  src: url("../fonts/DalaMoa.woff") format("woff"), /* Modern Browsers */
       url("../fonts/DalaMoa.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DalaFloda";
  src: url("../fonts/DalaFloda.woff") format("woff"), /* Modern Browsers */
       url("../fonts/DalaFloda.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
  font-family: "Florida-Medium";
  src: url("./fonts/ufontscomflorida-medium.woff") format("woff"), /* Modern Browsers */
       url("./fonts/ufontscomflorida-medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}